* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar-brand {
    width: 50px;
    height: 50px;
}

.navbar-nav {
    margin-right: 40px;
}


/* header  */

.header_text {
    margin-top: 80px;
    margin-left: -110px;
    font-size: 20px;
}

.header_text h1 {
    font-size: 50px;
    font-weight: bold;
}

.header_img {
    margin-top: 25px;
    margin-right: 20px;
}

.head_foot {
    margin-top: 70px;
    margin-left: 10px;
}

.head_foot h3 {
    font-size: 15px;
}

.head_foot .line {
    width: 50px;
}

.down_arrow img {
    text-align: center;
    width: 50px;
    height: 50px;
}

.head_foot_contact {
    margin-right: 20px;
}


/* services  */

.services {
    margin-top: 50px;
    margin-bottom: 50px;
}

.services_head {
    text-align: center;
    margin-bottom: 30px;
}

.services_body {
    border-style: none;
}

.services_body:hover {
    background-color: #fff;
    filter: drop-shadow(2px 0px 8px rgba(0, 0, 0, 0.5));
}

.card-text {
    text-align: center;
}

.card-title {
    text-align: center;
}

.list-group {
    text-align: center;
    font-weight: bolder;
}

.list-group a {
    text-decoration: none;
}

.card-img-top {
    width: 90px;
    height: 70px;
    margin-top: 40px;
}


/* about the company  */

.about {
    text-align: center;
    font-weight: bolder;
}

.about_text {
    margin-left: 50px;
}

.about_img {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img {
    width: 80px;
    height: 90px;
}

.about_img_p {
    text-align: center;
}


/* porftolio start  */

.portfolio_head h1 {
    font-weight: bolder;
}

.portfolio_head h5 {
    color: rgb(15, 166, 226);
}

.portfolio {
    margin-bottom: 30px;
}

.view_all a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: rgb(15, 166, 226);
}

.view_all i {
    margin-top: 5px;
}

.portfolio_bottom_images {
    margin-bottom: 40px;
}

/* blog start  */
.blog{
    margin-bottom: 50px;
}
.blog_head{
    text-align: center;
}
.blog_head a{
    text-decoration: none;
}
.blog_card{
    width: 80%;
    height: 60%;
    filter: drop-shadow(2px 0px 8px rgba(0, 0, 0, 0.5));
}
  
.card-body h6{
    color: rgb(15, 166, 226);
}

.blog_item{
    width: 200px;
    height: 200px;
    
    /* border-style: none; */
}
.blog_elements{
    margin-top: 17px;
}
.blog_elements img{
    width: 150px;
    height: 150px;
}
.read_more{
    margin-top: 50px;
}
.read_more a{
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(15, 166, 226);
}
.read_more i{
    margin-top: 15px;
    margin-right: 20px;
    color: #0fa6e2;
}

/* contact  */

.contact{
    margin-left: 150px;
    margin-bottom: 50px;
    filter: drop-shadow(2px 0px 8px rgba(0, 0, 0, 0.5));

}
.contact p{
    color: #0fa6e2;
    
}
.contact_text{
    margin-left: 100px;
    margin-top: 100px;
}
.contact_text span{
    font-weight: bolder;
    
}
.phone_mail{
    color: #0fa6e2;
    margin-top: 50px;
}
.button i{
    margin-left: 10px;
}

/* footer  */
.footer{
    margin-left: 168px;
    margin-bottom: 10px;
}
